.screen-login-left {
  height: 100vh;
  background: url("/images/site/background-login.jpg") no-repeat center center;
  background-size: cover;
}

.screen-login-rigth {
  background: #fff;
  height: 100vh;
}

.screen-login-rigth .title-page {
  color: #337ab7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.screen-login-rigth .image-desafio {
  height: 250px;
  background: url("/images/site/background-login.jpg") no-repeat center center;
  background-size: cover;
}

.screen-login-rigth .container-login {
  padding: 20px;
}

.screen-login-rigth .container-login .input-login {
  height: 60px;
  font-size: 2rem;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.screen-login-rigth .container-login .input-login:focus {
  border: 1px solid #29abe2;
}

.screen-login-rigth .container-login .btn {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

